src/NUnitBenchmarker.UIClient/Service References/UIServiceReference/UIService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UIService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8091/NUnitBenchmarker/UIService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8091/NUnitBenchmarker/UIService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8091/NUnitBenchmarker/UIService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NUnitBenchmarker.UIService.Data" />
      <xsd:import schemaLocation="http://localhost:8091/NUnitBenchmarker/UIService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8091/NUnitBenchmarker/UIService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUIService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IUIService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IUIService_GetImplementations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImplementations" />
  </wsdl:message>
  <wsdl:message name="IUIService_GetImplementations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImplementationsResponse" />
  </wsdl:message>
  <wsdl:message name="IUIService_Log_InputMessage">
    <wsdl:part name="parameters" element="tns:Log" />
  </wsdl:message>
  <wsdl:message name="IUIService_Log_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogResponse" />
  </wsdl:message>
  <wsdl:message name="IUIService_UpdateResult_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResult" />
  </wsdl:message>
  <wsdl:message name="IUIService_UpdateResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResultResponse" />
  </wsdl:message>
  <wsdl:portType name="IUIService">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IUIService/Ping" message="tns:IUIService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUIService/PingResponse" message="tns:IUIService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImplementations">
      <wsdl:input wsaw:Action="http://tempuri.org/IUIService/GetImplementations" message="tns:IUIService_GetImplementations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUIService/GetImplementationsResponse" message="tns:IUIService_GetImplementations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Log">
      <wsdl:input wsaw:Action="http://tempuri.org/IUIService/Log" message="tns:IUIService_Log_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUIService/LogResponse" message="tns:IUIService_Log_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IUIService/UpdateResult" message="tns:IUIService_UpdateResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUIService/UpdateResultResponse" message="tns:IUIService_UpdateResult_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUIService" type="tns:IUIService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IUIService/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImplementations">
      <soap:operation soapAction="http://tempuri.org/IUIService/GetImplementations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Log">
      <soap:operation soapAction="http://tempuri.org/IUIService/Log" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateResult">
      <soap:operation soapAction="http://tempuri.org/IUIService/UpdateResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UIService">
    <wsdl:port name="BasicHttpBinding_IUIService" binding="tns:BasicHttpBinding_IUIService">
      <soap:address location="http://localhost:8091/NUnitBenchmarker/UIService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>