src/NUnitBenchmarker.UIClient/Service References/UIServiceReference/UIService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NUnitBenchmarker.UIService.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NUnitBenchmarker.UIService.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8091/NUnitBenchmarker/UIService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="BenchmarkResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Values" nillable="true" type="q1:ArrayOfKeyValueOfstringArrayOfKeyValuePairOfstringdoubletwCi8m_S7" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BenchmarkResult" nillable="true" type="tns:BenchmarkResult" />
</xs:schema>