src/NUnitBenchmarker.UIClient/Service References/UIServiceReference/UIService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NUnitBenchmarker.UIService.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NUnitBenchmarker.UIService.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8091/NUnitBenchmarker/UIService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="TypeSpecification">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssemblyPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TypeSpecification" nillable="true" type="tns:TypeSpecification" />
  <xs:complexType name="ArrayOfTypeSpecification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TypeSpecification" nillable="true" type="tns:TypeSpecification" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTypeSpecification" nillable="true" type="tns:ArrayOfTypeSpecification" />
  <xs:complexType name="BenchmarkResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsLast" type="xs:boolean" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TestCases" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Values" nillable="true" type="q2:ArrayOfKeyValueOfstringArrayOfKeyValuePairOfstringdoubletwCi8m_S7" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BenchmarkResult" nillable="true" type="tns:BenchmarkResult" />
</xs:schema>